@model PatelWorld_API.Models.TblFields
@using PatelWorld_API.Models;
@using PatelWorld_API.Uitilities;

@{
    ViewData["Title"] = "AddField";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int count = 1;
}
<div class="content-wrapper">
    <div class="content-body">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="inner-card">
                    <div class="inner-card-title">
                        <div class="d-flex align-items-center">
                            <h3 class="fs_16 fw_6 card-title-text">Field</h3>
                        </div>
                    </div>
                    <div class="inner-card-data p-1">
                        <form id="frmField">
                            <input type="hidden" id="Id" value="@Model.Id" />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="filters-list mb-10">
                                        <div class="input-container">
                                            <input class="inputs pr-5" type="text" autocomplete="off" name="Name" oninput="if(this.value.trim().length==0) this.value=''" placeholder=" " id="Name" value="@Model.Name">
                                            <label class="placeholder"> Field Name <span class="text-red">*</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="filters-list mb-10">
                                        <div class="input-container">
                                            @Html.DropDownList("Datatype", new SelectList(Enum.GetValues(typeof(appEnums.DataType))),
                                                     "Select Datatype",
                                                     new { @class = "inputs pr-5 select2-multipleselect", @data_error = "#errNm2" })
                                            <label class="placeholder"> DataType <span class="text-red">*</span></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="filters-list mb-10">
                                        <div class="input-container">
                                            <textarea name="Description" id="Description" class="inputs pr-5" rows="3" placeholder=" ">@Model.Description</textarea>
                                            <label class="placeholder"> Description </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12" id="dropdownContainer" @(Model.Datatype != null ? (Convert.ToString(Model.Datatype).ToLower() == "dropdown" || Convert.ToString(Model.Datatype).ToLower() == "checkbox" || Convert.ToString(Model.Datatype).ToLower() == "radiobutton" ? "" : "style=display:none") : "style=display:none")>
                                    <div class="formlisted scrollable-container">
                                        <div id="FieldsDisplay">
                                            @foreach (var option in ViewBag.Fieldoptions)
                                            {
                                                <div class="formlisted-list fields_added" draggable="true" id="div_@option.Id" data-id="@option.Id">
                                                    <div class="formlisted-content">
                                                        <span>
                                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                        </span>
                                                        <input type="hidden" data-fieldid="@Model.Id" />
                                                        <p class="m-0" id="text_@option.Id" data-value="@option.Value">@option.Value</p>
                                                    </div>
                                                    <div class="table-resource-buttons position-absolute">
                                                        <a href="javascript:void(0);" class="icon-round editField" data-id="@option.Id">
                                                            <svg width="16" height="16" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M19.629 8.818l7.553 7.555L9.554 34H2v-7.555L19.629 8.816v.002zM22.146 6.3l3.777-3.779a1.78 1.78 0 012.518 0L33.48 7.56a1.78 1.78 0 010 2.518L29.7 13.854 22.147 6.3z" fill="#281483"></path></svg>
                                                        </a>
                                                        <a href="javascript:void(0);" class="icon-round deleteField" data-id="@option.Id">
                                                            <svg width="16" height="16" data-name="Layer 1" viewBox="0 0 18.33 22.42" xmlns="http://www.w3.org/2000/svg"><path d="M31.45,42V36.34a1,1,0,0,1,2-.17V47.44a2,2,0,0,0,2,2.05h8.12a2,2,0,0,0,2.05-2.05V36.34a1,1,0,0,1,.81-1.09,1,1,0,0,1,1.21.83,1.83,1.83,0,0,1,0,.33V47.47a4,4,0,0,1-3.33,4,4.37,4.37,0,0,1-.72.06H35.49a4,4,0,0,1-4-4Z" transform="translate(-30.43 -29.11)" fill="#281483"></path><path d="M43.67,32.17h.72c1.1,0,2.2,0,3.3,0a1,1,0,0,1,1,1.31,1,1,0,0,1-.89.73H31.54a1,1,0,1,1,0-2h4v-2a1,1,0,0,1,1.06-1.07h6a1,1,0,0,1,1.07,1.07Zm-6.1,0h4v-1h-4Z" transform="translate(-30.43 -29.11)" fill="#281483"></path><path d="M36.54,41.82c0-1.18,0-2.37,0-3.55a1,1,0,0,1,.83-1,1,1,0,0,1,1.1.58,1.25,1.25,0,0,1,.1.51q0,3.48,0,7a1,1,0,0,1-1,1.1,1,1,0,0,1-1-1.1Z" transform="translate(-30.43 -29.11)" fill="#281483"></path><path d="M42.65,41.85c0,1.19,0,2.37,0,3.56a1,1,0,0,1-1.88.53,1.36,1.36,0,0,1-.15-.59q0-3.51,0-7a1,1,0,1,1,2,0C42.66,39.52,42.65,40.68,42.65,41.85Z" transform="translate(-30.43 -29.11)" fill="#281483"></path></svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="add-balance-btn mt-10 mb-20">
                                        <input type="hidden" id="option-id" />
                                        <input type="text" class="formlisted-list input" id="addFieldoptions" name="addFieldoptions">
                                        <button type="button" class="softo-solid-btn" id="btnAddFieldPop">
                                            Add Options
                                        </button>
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="add-balance-btn text-center">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-back-box">
                                                <a href="/field" class="text-black"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</a>
                                            </div>
                                            <div class="btn-save-box">
                                            
                                                    <button id="btnFieldSave" class="softo-solid-btn softo-solid-btn-green">
                                                        Save
                                                    </button>

                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="btnAddFieldPopUp">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Field Option</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="frmAddFieldoptions">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filters-list mb-10">
                                <div class="input-container">
                                    <input type="hidden" id="FieldId" value="@Model.Id" />
                                    <select class="inputs selectpicker" multiple id="selectAddField" name="selectAddField" aria-label="Default select example" data-live-search="true">
                                        @foreach (var item in ViewBag.AllOpionsValue as List<TblFieldsOptions>)
                                        {
                                        
                                                <option value="@item.Id">@item.Value</option>
                                   
                                              
                                          

                                        }
                                    </select>
                                    <label for="fieldoptions" class="placeholder">Select Field Options</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="add-balance-btn text-right">
                    <a href="javascript:void(0)" class="softo-solid-btn softo-solid-btn-cancel" data-dismiss="modal">Cancel</a>
                    <a href="javascript:void(0)" class="softo-solid-btn ml-2">New</a>
                    <button id="btnAddField" class="softo-solid-btn ml-10">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var fieldoption_index = @ViewBag.Fieldoptions.Count;
</script>
@section Scripts {
    <script src="~/js/custom/field.js"></script>
}


